body {
  background-color:rgb(20, 20, 20);
  color: red;

}

.App {
  text-align: center;
}

.show{
 display: flex;
 flex-direction: row;
}

.divbutton {
  height: 30px;
  /* background: #000; */
}

button {
  display: none;
  height: 30px;
  width: 70px;
  
}
.inner-container {
  display: flex;
  flex-direction: row;
  position: relative; 
  /* height: 50px; */
  /* width: 100%; */
  overflow: hidden;
  position: relative;
}

.overlapping {
  position: absolute; 
  display: flex;
  width: 100%;
  top: 80%;
  background-color: rgba(255,255,255,0);
  color: white;
  font-weight: bold;
  align-items: bottom;
  /* opacity: 0.6; */
  justify-content: space-between  
}

.my-list {
  color: white;
  font-weight: bold;
}

.discover-list{
  color: white;
  font-weight: bold;
}

.overlapping:hover button {
  display: block;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
}

.parent {
  position: absolute;
    top: 0px;
    bottom: -15px;
    left: 0px;
    right: -15px;
    overflow: auto;
}