@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  background-color:black;
  color: red;
}

h2 {
  padding-left: 5vw;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 2%; 
}

.overlapping button,
link {
  display: none;
}

.parent {
  display: inline-block;
  position: relative; 
}

.overlapping {
  position: absolute; 
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 80%;
  justify-content: space-around;

}

.parent:hover button, 
a {
  display: block;
  cursor:hand;
  justify-content: space-around;
}
.parent:hover {
  opacity: 0.4;
} 

.parent img {
  margin-right: 5px;
}

.show {
  display: flex;
  margin-bottom: 10vh;
  padding-left: 5vw;
  overflow-y: hidden;
  
}

.outer {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10vh;
}

.left {
  margin-left: 15vw;
  margin-right: 3vw;
  
}

.right {
  margin-right: 15vw;
}

.details {
  text-decoration: none;
}

